


 	body {
 		background-color: white;
 		color: black;
 		text-align: center;
 		letter-spacing: 1px;
 		word-spacing: 1.5px;
 		text-orientation: inherit;
 		padding-bottom: 10;
 		padding-top:0;
 		font:nicholas bold font;
 	}

 	/* Container holding the image and the text */
.header {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
